*{
    margin: 0;
    padding: 0;
    font-size: clamp(1rem,2.5vw,1.5rem);
}.container{
    width: 1024px;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}.box{
    background-color: lightgray;
    height: 200px;
    width: 100%;
}.round .box{
    width: calc(120% + 20px);
}.container{
    width: min(100vw,1024px);
}.box{
    background-color: rgb(10, 140, 169);
}p{
    
    /* color:rgba(256,0,0,0.25) */
    /* color:hsl(250,100%,50%); blue */
    /* color:hsl(0,100%,50%); red */
    color:hsl(130,100%,50%);
}section{
    background-color: yellow;
}section:has(div.content){
    border: 2px solid black;
}section:has(+ section):has(p){
    background-color: palegoldenrod;
}input,
input[type="text"],
input[type="text"],
textarea,
select{
    width: 100%;
    padding: 10px,12px;
    margin-bottom: 12px;
    /* appearance: none; */
    background-color: brown;
}input[type="checkbox"]{
    width: 40px;
    height: 40px;
    background-color: aqua;
    appearance: none;
}input[type="checkbox"]:checked::after{
    content: "asdsad";
    font-size: 12px;
    color: red;
}